<%- include("partials/header") -%>

<div class="box second-title purple-box">
    <h1 >A Propos</h1>
</div>
<div class="box" id="about">
    <p>Il s'agit d'une simple application de "to do list" développée dans le but de comprendre le fonctionnement de EJS, des templates et des "partials"</p>
    <p>Professeur : Angela Yu - London App Bewerry</p>
</div>

<footer>
    <p>Réalisé par @WiseFox - <a href="/">Accueil</a></p>
</footer>
</body>
</html>
