<%- include("partials/header") -%>

<div class="box second-title purple-box">
    <h1 >A Propos</h1>
</div>
<div class="box" id="about">
    <p>Le projet de base avait pour vocation de réaliser une simple application de "to do list" afin de comprendre le fonctionnement de EJS, des templates et des "partials"</p>
    <p>J'en ai poursuivi le développement afin d'y intégrer un système d'authentification et de persistence des données !</p>
    <p>Professeur : Angela Yu - London App Bewerry</p>
</div>

<footer>
    <p>Réalisé par @WiseFox - <a href="/">Accueil</a></p>
</footer>
</body>
</html>
