<%- include("header") -%>

<div class="box heading">
    <h1 >A Propos</h1>
</div>
<div class="box">
    <p>Il s'agit d'une simple application de "to do list" développée dans le but de comprendre le fonctionnement de EJS, des templates et des "partials"</p>
    <p>
        Professeur : Angela Yu <br>
        London App Bewerry
    </p>
</div>

<%- include("footer") -%>
