
    <footer>
        <div class="box" id="menu">
            <a href="/">Liste</a>
            <a href="/about">A Propos</a>
        </div>
        <p>Réalisé par @WiseFox</p>
    </footer>
</body>
</html>
