<%- include('partials/header') %>


<div class="jumbotron centered">
  <div class="container centered">
    <h1 class="display-3 box title">Todo List</h1>
    <p class="lead box purple-box"><%=date%></p>
    <hr>
    <div class="btn-box">
      <a class="btn btn-light btn-lg" href="/register" role="button">Register</a>
      <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>

  </div>
</div>

<%- include('partials/footer') %>
