<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To do list app</title>
</head>
<body>

    <% if(currentDayName === "samedi" || currentDayName === "dimanche") { %>
        <h1 style="color: purple">Liste de <%=currentDayName%> !</h1>
    <% } else { %> 
        <h1 style="color: green">Liste de <%=currentDayName%> !</h1>
    <% } %>
</body>
</html>
